*.la
*.lo
*.o
*.pyc
*.trs
.*.swp
.deps/
.dirstamp
.libs/
.DS_Store
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/autoscan.log
/config.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config/
/configure
/configure~
/configure.scan
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/src/llama.log
/src/llama
/stamp-h1
/test-suite.log
/test-suite-memcheck.log
/test/llama/test
/test/test.exe
/test/llama/test.log
/test/test.trs
/test/benchmarks/benchmarks
/test/test
/test/test.log
/tmp/
_libs/
